<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <div class="container">
            <h1>Scheduly</h1>
            <div class="message-info"><p class="message-elem">Message could not be created, please try again.</p>
                <a id="scheduleButton" href="/schedule_message.html" class="button">Schedule message</a>
                <a id="back" class="button" href="/">Back</a>
            </div>
        </div>
    </body>
</html>