<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
	<div class="container">
		<h1>Scheduly</h1>
		<div class="message-info">
			<h2>Messages scheduled or dispatched</h2>
			{{#messages}}
			<div id="elem{{id}}" class="message-elem">
				<a href="message/{{id}}" class="message-access">{{messageBody}}, {{executionTime}}</a>
			</div>
			{{/messages}}
			{{^messages}}
				<div class="message-elem">
					<p class="no-elements">No messages scheduled yet.</p>
				</div>
			{{/messages}}
			<a id="scheduleButton" href="schedule_message.html" class="schedule-button">Schedule message</a>
		</div>
	</div>
</body>
</html>
