<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="/styles.css">
	</head>
	<body>
		<div class="container">
			<h1>Scheduly</h1>
			<div class="message-info">
				<h2>Message information</h2>
				<label>Body: <p id="messageBody" class="message-elem">{{message.messageBody}}</p></label>
				<label>Time scheduled: <p id="scheduledDate" class="message-elem">{{message.executionTime}}</p></label>
				<label>Server time scheduled: <p id="serverDate" class="message-elem">{{message.serverExecutionTime}}</p></label>
				<label>Message dispatched: <p id="messageDispatched" class="message-elem">{{message.messageDispatched}}</p></label>
				<a id="deleteButton" href="../delete_message.html?id={{message.id}}" class="schedule-button">Delete message</a>
				<a id="back" class="button" href="/">Back</a>
			</div>
			
		</div>
	</body>
</html>